<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.androidlearning">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".learningcode.ipc.SecondActivity"
            android:process=":remote"></activity>

        <activity android:name=".learningcode.ipc.contentprovider.ActBookProvider" />

        <activity android:name=".learningcode.viewevent.ActViewEvent" />

        <activity android:name=".learningcode.recycleview.ActRecycleView" />

        <activity android:name=".learningcode.tmp.TmpActivity" />

        <provider
            android:name="com.android.androidlearning.learningcode.ipc.contentprovider.BookProvider"
            android:authorities="com.android.androidlearning.learningcode.ipc.contentprovider.BookProvider"
            android:exported="false"
            android:permission="com.lgl.PROVIDER"
            android:process=":remote" />
    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="com.lgl.PROVIDER"></uses-permission>

</manifest>